body {
    margin:0;
}

.header {
    background-color: #96F6BD;
    /* min-height: 2.5rem; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px, 10px;
}

.header_menu
{
    border: solid #BFBFBF;
    width: min-content;
    margin: 7px auto;
}
.header_menu:hover {
    cursor: pointer;
}
.header_links {
    margin-top: 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3px 1fr 3px 1fr;
    margin-bottom: 5px;
}
.header_hidden {
    display: none;
}
.header_links_form {
    border: 2px solid #000;
    width: min-content;
    text-align: center;
    margin: 0 auto;
}



.footer {
    background-color: #46B12B;
    min-height: 3rem;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.footer_margin {
    margin-bottom: 5px;
}

.formCreateArticle {
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.formCreateArticle_texteareaSize {
    min-height: 80px;
    min-width: 325px;
}

.fondBleu {
    background-color: #70A9FF;
    min-height: 25px;
    border: solid black;
}

.gallerie_carrouselPadding{
    padding: 15px;
    text-align: center;
}

.gallerie_carrouselPadding_imgSize {
    max-width:90vw;
}

.gallerie_title {
    text-align: center;
}

.gallerie_imageDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallerie_imageDisplay_imgPresentation {
    min-width: 100vw;
    display: grid;
    grid-template-columns: 5fr 19px 1fr 19px 5fr;
    padding-bottom: 5px;
}
.gallerie_imageDisplay_imgPresentation_1 {
    grid-column: 2/3 ;
}

.gallerie_imageDisplay_imgPresentation_2 {
    grid-column: 4/5 ;
}

.gallerie_imageDisplay_mosaic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 70%;
}
.gallerie_imageDisplay_mosaic img {
    padding-top: 13px;
    padding-bottom: 13px;
}
.gallerie_imageDisplay_custom_img {
    display: flex;
    flex-direction: column;
}
.gallerie_imageDisplay_column {
    width: min-content;
    margin: 0 auto;
}

.jeu_gameType {
    margin: 35px;
}

.jeu_gameType_title {
    display: flex;
    width: fit-content;
    border-bottom: solid #000 2px;
}
.jeu_gameType_game {
    background-color: #70A9FF;
    display: grid;
    grid-template-columns: 10% 10% 10% 1fr;
}


.hidden {
    display: none;
}